.footer-style {
    background-color: #282828;
    width: 5300px;
    height: 4917px;
    position: relative;
    top: -701px;
    left: -1153px;
    border-radius: 2px;
    border: 1px solid #000; 
  }
